.DS_Store
node_modules/
dist/
build/
.turbo/
.next/
out/
.cache/
.vercel/
.parcel-cache/
.sass-cache/
tmp/
temp/
coverage/
*.log
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*
*.local
.env
.env.*
!.env.example
